main {
	h1 {
		padding-inline: var(--inline-padding);
	}
	#tags-container {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		gap: 15px;
		height: fit-content;
		margin-bottom: 15px;
		position: relative;
		width: 100%;
		-webkit-mask-image: linear-gradient(
			to right,
			transparent 0%,
			black var(--inline-padding),
			black calc(100% - var(--inline-padding)),
			transparent 100%
		);
		mask-image: linear-gradient(
			to right,
			transparent 0%,
			rgba(0, 0, 0, 20%) calc(var(--inline-padding) / 2),
			black var(--inline-padding),
			black calc(100% - var(--inline-padding)),
			rgba(0, 0, 0, 20%) calc(100% - var(--inline-padding) / 2),
			transparent 100%
		);
		view-transition-name: tags-container;
		::view-transition-new(tag),
		::view-transition-old(tag) {
			width: 100%;
			height: 100%;
		}
		&::-webkit-scrollbar {
			display: none;
		}
		:first-child {
			margin-left: var(--inline-padding);
		}
		:last-child {
			margin-right: var(--inline-padding);
		}
		.tag,
		.tag-select {
			background-color: var(--color-surface);
			color: var(--color-text);
			padding: var(--button-padding);
			border-radius: 1000px;
			text-transform: capitalize;
			transition:
				color var(--hover-transition-duration) var(--hover-transition-easing),
				background-color var(--hover-transition-duration)
					var(--hover-transition-easing);
			cursor: pointer;
			white-space: nowrap;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 1.1em;
			outline: none;
			border: none;
			appearance: base-select;
			&:hover {
				background-color: var(--color-accent);
				color: var(--color-on-accent);
			}
			&::picker(select) {
				appearance: base-select;
				border-radius: 0;
				border-radius: 24px;
				background: var(--color-surface);
				margin-top: 0.5rem;
				border: none;
			}
			option {
				margin: 0;
				width: 100%;
				border-radius: 0;
				transition:
					background-color var(--hover-transition-duration)
						var(--hover-transition-easing),
					color var(--hover-transition-duration) var(--hover-transition-easing);
				&::checkmark {
					display: none;
				}
				&:hover,
				&:focus {
					background: var(--color-accent);
					color: var(--color-on-accent);
				}
			}
			&[selected] {
				background-color: var(--color-accent-translucent);
				color: var(--color-accent);
			}
		}

		@media screen and (min-width: 900px) {
			grid-column: 2 / 3;
		}
	}
	#projects-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		column-gap: 20px;
		row-gap: 20px;
		grid-template-rows: auto;
		padding-bottom: 20px;
		padding-inline: var(--inline-padding);
		p,
		.loading-indicator {
			position: absolute;
			margin-inline: var(--inline-padding);
		}
		.project {
			view-transition-name: project;
			border-radius: var(--medium-rounding);
			overflow: hidden;
			width: 100%;
			height: auto;
			aspect-ratio: 4 / 3;
			transform: scale(1);
			filter: brightness(100%);
			transition: transform filter 100ms ease-out;

			&:hover {
				transform: scale(1.02);
				filter: brightness(110%);
			}
			img {
				width: 100%;
				aspect-ratio: 4 / 3;
				object-fit: cover;
				object-position: center;
			}
			h3 {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				color: white;
				margin: 0;
				height: fit-content;
				min-height: 40%;
				padding: 5px;
				padding-left: 20%;
				font-size: 2em;
				width: 100%;
				text-align: end;
				background: rgba(0, 0, 0, 80%);
				@media screen and (min-width: 600px) {
					font-size: 1.8em;
				}
			}
		}
	}
}

main {
	@media screen and (min-width: 600px) {
		background:
			linear-gradient(
				314.01deg,
				transparent 61.84%,
				var(--color-accent-gradient) 98.81%
			),
			var(--color-background);
	}
	@media screen and (min-width: 1024px) {
		background:
			linear-gradient(
				292.81deg,
				transparent 22.73%,
				var(--color-accent-gradient) 100%
			),
			var(--color-background);
	}
}
