#hero {
	padding-inline: var(--inline-padding);
	width: 100%;
	position: relative;
	@media (min-width: 600px) and (max-width: 1024px) {
		display: grid;
		column-gap: 30px;
		grid-template-columns: 50% auto;
	}
	@media (min-width: 1025px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-inline: 20px;
		width: 100%;
		justify-content: center;
	}
	img {
		--radius-small: 70px;
		--radius-big: calc(var(--radius-small) * 2);
		border-top-left-radius: var(--radius-big);
		border-bottom-left-radius: var(--radius-small);
		border-bottom-right-radius: var(--radius-big);
		border-top-right-radius: var(--radius-small);
		width: 100%;
		@media (min-width: 600px) {
			--radius-small: 10vw;
			margin-block: auto;
		}
		@media (min-width: 1025px) {
			--radius-small: 50px;
			width: 50%;
			margin-block: 0;
		}
	}
	.hero-text {
		@media (min-width: 600px) and (max-width: 1024px) {
			grid-column: 2 /3;
			grid-row: 1/3;
			font-size: 2.7vw;
		}
		@media (min-width: 1025px) {
			font-size: 1em;
			padding-inline: var(--inline-padding);
			text-align: center;
		}
	}
	.after-hero-text {
		@media (min-width: 600px) and (max-width: 1024px) {
			width: fit-content;
			align-self: center;
			justify-self: center;
		}
		a {
			background-color: var(--color-accent);
			color: var(--color-on-accent);
			padding: var(--button-padding);
			border-radius: 1000px;
			text-transform: uppercase;
			transform: scale(1);
			display: inline-block;
			transition: all var(--hover-transition-duration)
				var(--hover-transition-easing);
			&:hover {
				background-color: var(--color-accent-highlighted);
				transform: scale(1.05);
				letter-spacing: 1px;
			}
			* {
				color: var(--color-on-accent);
			}
		}
	}
}

#project-highlights {
	padding-inline: 10px;
	@media screen and (min-width: 1025px) {
		padding-inline: var(--inline-padding);
	}
	h2 {
		text-align: center;
		@media screen and (min-width: 600px) {
			text-align: left;
			padding-left: var(--inline-padding);
		}
		@media screen and (min-width: 1025px) {
			padding-left: 0;
		}
	}
	.projects-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		column-gap: 20px;
		row-gap: 20px;
		grid-template-rows: auto;
		padding-bottom: 20px;
		@media screen and (min-width: 600px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media screen and (min-width: 1025px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		#all-projects {
			background: var(--color-accent);
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-on-accent);
			font-weight: bold;
			font-size: 1.3em;
			text-align: center;
		}
		.project {
			border-radius: var(--medium-rounding);
			overflow: hidden;
			width: 100%;
			height: auto;
			aspect-ratio: 4 / 3;
			transform: scale(1);
			transition:
				transform var(--hover-transition-duration)
					var(--hover-transition-easing),
				opacity var(--hover-transition-duration) var(--hover-transition-easing);
			@starting-style {
				opacity: 0;
				transform: scale(0.8);
			}
			&:hover {
				transform: scale(1.02);
			}
			@media screen and (min-width: 600px) and (max-width: 1024px) {
				&:nth-child(1) {
					grid-column: 1 / 3;
					grid-row: 1 / 3;
					* {
						font-size: 5vw;
					}
				}
				&:nth-child(2) {
					grid-column: 3 / 5;
					grid-row: 1 / 3;
					* {
						font-size: 5vw;
					}
				}
			}
			@media screen and (min-width: 1024px) {
				&:nth-child(1) {
					grid-column: 1 / 3;
					grid-row: 1 / 3;
					* {
						font-size: 2.5vw;
					}
				}
			}
			img {
				width: 100%;
				aspect-ratio: 4 / 3;
				object-fit: cover;
				object-position: center;
			}
			h3 {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				color: white;
				margin: 0;
				min-height: 40%;
				height: fit-content;
				font-size: 2em;
				padding: 5px;
				padding-left: 20%;
				width: 100%;
				text-align: end;
				background: rgba(0, 0, 0, 80%);
				@media screen and (min-width: 600px) {
					font-size: 1.8em;
				}
			}
		}
	}
}

main {
	@media screen and (min-width: 600px) {
		background:
			linear-gradient(
				292.81deg,
				transparent 22.73%,
				var(--color-accent-gradient) 100%
			),
			var(--color-background);
	}
	@media (min-width: 1025px) {
		display: grid;
		grid-template-columns: 1fr 1fr;

		column-gap: 50px;
	}
}

section > h2 {
	padding-top: 2rem;
	@media (min-width: 1025px) {
		padding-top: 0;
	}
}

h2 {
	padding-inline: var(--inline-padding);
}
