:root {
	--clr-bg: black;
	--clr-text: white;
	--system-ui-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--flashlight-radius: 70px;
	--logo-size: 4rem;
}
* {
	padding: 0;
	margin: 0;
}
body {
	min-height: 100vh;
	width: 100%;
	background: var(--clr-bg);
	color: var(--clr-text);
	font-family: var(--system-ui-font);
}

.full-screen {
	position: absolute;
	width: 100%;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.full-screen.white {
	background: white;
	color: black;
	clip-path: circle(
		var(--flashlight-radius) at var(--mouse-x, -100vw) var(--mouse-y, -100vh)
	);
	animation: all 0.1ms;
}

.centered-h1 {
	width: max-content;
	font-size: 5vw;
}

.centered-h1 {
	-webkit-user-select: none;
	user-select: none;
}
#logo {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--logo-size);
	height: var(--logo-size);
	margin-left: 1rem;
	pointer-events: none;
	padding-block: calc(var(--logo-size) * 0.15);
}

/* Tablets */
@media only screen and (min-width: 600px) {
	.centered-h1 {
		font-size: 2em;
	}
}
/* Desktop */
@media only screen and (min-width: 768px) {
	.centered-h1 {
		font-size: 2em;
	}
}
