@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@view-transition {
	navigation: auto;
}

@layer default, skeleton, navigation, footer;

@layer default {
	* {
		box-sizing: border-box;
		font-family: "Roboto Mono", monospace;
		position: relative;
		color: inherit;
	}
	@property --nav-height {
		syntax: "<length-percentage>";
		inherits: true;
		initial-value: 0px;
	}
	@property --footer-height {
		syntax: "<length-percentage>";
		inherits: true;
		initial-value: 0px;
	}
	:root {
		interpolate-size: allow-keywords;

		--background-blur: 15px;
		--small-rounding: 7px;
		--medium-rounding: 15px;
		--large-rounding: 30px;
		--footer-height: calc(68.8px + env(safe-area-inset-bottom, 0px));
		--nav-height: calc(77.2px + env(safe-area-inset-top, 30px));
		--min-content-height: calc(100dvh - var(--footer-height));
		--inline-padding: 30px;
		--button-padding: 10px 20px;
		--panel-padding: 2rem 2rem;
		--hover-transition-duration: 100ms;
		--hover-transition-easing: ease-out;
		--appear-transition-duration: 100ms;
		--appear-transition-easing: ease-in-out;
		--spatial-small-transition-duration: 100ms;
		--spatial-small-transition-easing: ease-out;
		--color-scrim: hsla(0, 0%, 0%, 0.5);

		@media (prefers-color-scheme: dark) {
			--color-background: hsla(0, 0%, 10%, 1);
			--color-background-variant: #0d0d0d;
			--color-background-translucent: hsla(
				from var(--color-background-variant) h s l / 0.65
			);
			--color-text: #ffffff;
			--color-text-low-contrast: gray;
			--color-accent: #eb99ff;
			--color-accent-highlighted: hsla(from var(--color-accent) h s 85% / 1);
			--color-accent-highlighted-bright: hsla(
				from var(--color-accent) h s 90% / 1
			);
			--color-accent-translucent: hsla(from var(--color-accent) h s l / 0.1);
			--color-accent-gradient: hsla(from var(--color-accent) h s l / 0.2);
			--color-accent-container: color-mix(
				in lab,
				var(--color-accent) 7%,
				var(--color-background-variant)
			);
			--color-on-accent: #000000;
			--color-divider: hsla(0, 0, 50%, 0.4);
			--color-surface: #333333;
			--color-surface-highlighted: hsl(
				from var(--color-surface) h s calc(l + 10)
			);
			--color-danger: #ff6666;
			--color-on-danger: #000000;
			--color-danger-highlighted: hsl(
				from var(--color-danger) h s calc(l + 10)
			);
		}
		@media (prefers-color-scheme: light) {
			--color-background: hsla(0, 0%, 90%, 1);
			--color-background-variant: #ededed;
			--color-background-translucent: hsla(
				from var(--color-background-variant) h s l / 0.65
			);
			--color-text: #000000;
			--color-text-low-contrast: rgb(68, 68, 68);
			--color-accent: #c147df;
			--color-accent-highlighted: hsla(from var(--color-accent) h s 25% / 1);
			--color-accent-highlighted-bright: hsla(
				from var(--color-accent) h s 15% / 1
			);
			--color-accent-translucent: hsla(from var(--color-accent) h s l / 0.1);
			--color-accent-gradient: hsla(from var(--color-accent) h s l / 0.2);
			--color-accent-container: color-mix(
				in lab,
				var(--color-accent) 7%,
				var(--color-background-variant)
			);
			--color-on-accent: white;
			--color-divider: hsla(0, 0, 50%, 0.4);
			--color-surface: #c8c8c8;
			--color-surface-highlighted: hsl(
				from var(--color-surface) h s calc(l + 10)
			);
			--color-danger: #d93025;
			--color-on-danger: #ffffff;
			--color-danger-highlighted: hsl(
				from var(--color-danger) h s calc(l + 10)
			);
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	html {
		height: 100dvh;
		scrollbar-gutter: stable;
		&:has(dialog[open]) {
			overflow: hidden;
		}
	}
	body {
		margin: 0;
		background-color: var(--color-background);
		width: 100%;
		top: 0;
		color: var(--color-text);
	}

	ul {
		padding: 0;
	}

	a {
		text-decoration: none;
		color: var(--color-accent);
		transition: all var(--hover-transition-duration)
			var(--hover-transition-easing);
		cursor: pointer;
		&:hover {
			color: var(--color-accent-highlighted);
		}
		.fa {
			color: var(--color-accent);
			transition: all var(--hover-transition-duration)
				var(--hover-transition-easing);
			&:hover {
				color: var(--color-accent-highlighted);
			}
		}
	}
	button {
		background-color: var(--color-surface);
		color: var(--color-text);
		border: none;
		border-radius: var(--medium-rounding);
		padding: var(--button-padding);
		font-size: 1em;
		cursor: pointer;
		transition: all var(--hover-transition-duration)
			var(--hover-transition-easing);
		& > * {
			vertical-align: middle;
		}
		&:hover {
			background-color: var(--color-surface-highlighted);
		}
		&[variant="primary"] {
			background-color: var(--color-accent);
			color: var(--color-on-accent);
			&:hover {
				background-color: var(--color-accent-highlighted);
			}
		}
		&[variant="danger"] {
			background-color: var(--color-danger);
			color: var(--color-on-danger);
			font-weight: bold;
			&:hover {
				background-color: var(--color-danger-highlighted);
			}
		}
	}
	p {
		font-size: 1.3em;
		@media (min-width: 600px) {
			font-size: 1.25em;
		}
		@media (min-width: 1025px) {
			font-size: 1.2em;
		}
	}
	main {
		padding-top: var(--nav-height);
		min-height: var(--min-content-height);
		padding-bottom: 2rem;
		height: auto;
	}
	iframe {
		border-width: 0px;
	}
	#floating-modal {
		background-color: var(--color-surface);
		width: fit-content;
		padding: var(--panel-padding);
		border-radius: var(--large-rounding);
		position: fixed;
		z-index: 5;
		margin: 1rem;
		left: auto;
		top: auto;
		bottom: var(--footer-height);
		right: 0;
		transition: inset 0.3s ease-in-out;
		.drag-handle {
			display: block;
			width: 3em;
			height: 0.5rem;
			border-radius: 1000px;
			background-color: var(--color-text);
			align-self: center;
			cursor: pointer;
		}
	}
	input[type="text"],
	input[type="url"] {
		background: var(--color-surface-highlighted);
		border: 2px solid var(--color-accent);
		font-size: larger;
		padding: var(--button-padding);
		border-radius: var(--medium-rounding);
		&:invalid {
			border-color: var(--color-danger);
		}
		&:focus {
			outline: none;
			border-color: var(--color-accent-highlighted-bright);
		}
	}
	input[type="checkbox"] {
		background: var(--color-accent-translucent);
		width: 1.5rem;
		height: 1.5rem;
		border-radius: var(--small-rounding);
		appearance: none;

		&:checked {
			background: var(--color-accent);
			&::after {
				content: "✓";
				position: absolute;
				margin: auto;
				font-size: 1.2rem;
				width: stretch;
				text-align: center;
				font-weight: bold;
				color: var(--color-on-accent);
			}
		}
	}
	label {
		padding-right: 1rem;
	}
	::view-transition-group(navigation-selector) {
		z-index: 1;
	}
	::view-transition-old(navigation-selector) {
		height: 100%;
	}
	::view-transition-new(navigation-selector) {
		height: 100%;
	}
	::view-transition-old(:root) {
		animation: none;
	}
	::view-transition-new(:root) {
		animation: none;
	}
	::view-transition-group(:root) {
		animation: none;
	}
}

@layer skeleton {
	@property --skeleton-progress {
		syntax: "<length-percentage>";
		initial-value: 0%;
		inherits: true;
	}
	.skeleton {
		--skeleton-progress: 0%;
		--gradient-size: 75px;
		background: linear-gradient(
			75deg,
			var(--color-background-translucent),
			var(--color-background-translucent)
				calc(var(--skeleton-progress) - var(--gradient-size)),
			var(--color-background-variant) var(--skeleton-progress),
			var(--color-background-translucent)
				calc(var(--skeleton-progress) + var(--gradient-size)),
			var(--color-background-translucent)
		);
		opacity: 1;
		transition: opacity var(--appear-transition-duration)
			var(--appear-transition-easing);
		animation: 1s ease-in-out infinite progress;
		@starting-style {
			opacity: 0;
		}
	}

	@keyframes progress {
		0% {
			--skeleton-progress: calc(0% - var(--gradient-size));
		}
		100% {
			--skeleton-progress: calc(100% + var(--gradient-size));
		}
	}
}

@layer navigation {
	nav {
		--margin: 10px;
		position: fixed;
		height: calc(
			var(--nav-height) - var(--margin) * 2 - env(safe-area-inset-top, 0px)
		);
		margin: var(--margin);
		margin-top: calc(var(--margin) + env(safe-area-inset-top, 0px));
		z-index: 10;
		top: 0;
		right: 0;
		background-color: var(--color-background-translucent);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 1rem;
		-webkit-backdrop-filter: blur(var(--background-blur)) saturate(1.5);
		backdrop-filter: blur(var(--background-blur)) saturate(1.5);
		border-radius: 1000px;
		padding: 5px;
		a {
			padding: var(--button-padding);
			font-size: x-large;
			border-radius: 1000px;
			pointer-events: all;
			color: var(--color-text);
			vertical-align: middle;
			line-height: 1;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				inset: 0;
				border-radius: 1000px;
				background-color: transparent;
				pointer-events: none;
				transition: background-color var(--hover-transition-duration)
					var(--hover-transition-easing);
				opacity: 0.5;
			}
			&:not([active]):hover::after {
				background-color: var(--color-accent-translucent);
			}
			&[active]::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				inset: 0;
				border-radius: 1000px;
				background-color: var(--color-accent-translucent);
				view-transition-name: navigation-selector;
			}
			&[active] {
				color: var(--color-accent);
			}
		}
	}
}

@layer footer {
	footer {
		background-color: var(--color-background-variant);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-inline: var(--inline-padding);
		padding-block: 20.8px;
		padding-bottom: calc(20.8px + env(safe-area-inset-bottom, 0px));
		row-gap: 20.8px;
		width: 100%;
		p {
			white-space: nowrap;
			margin-block: 0;
			flex-grow: 1;
		}
		img {
			height: 1.5ch;
			@media (prefers-color-scheme: dark) {
				filter: brightness(200%);
			}
		}
		a {
			color: var(--color-text);
			font-size: 1.2em;
			margin-left: 10px;
			transition: all var(--hover-transition-duration)
				var(--hover-transition-easing);
			i {
				color: var(--color-text);
			}
			&:hover {
				i {
					color: var(--color-accent);
				}
			}
		}
	}
}
