@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@view-transition {
  navigation: auto;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  position: relative;
  color: var(--color-text);
}

:root {
  --color-background: hsla(0, 0%, 10%, 1);
  --color-background-variant: #0d0d0d;
  --color-background-translucent: hsla(
    from var(--color-background-variant) h s l / 0.65
  );
  --color-text: #ffffff;
  --color-accent: #eb99ff;
  --color-accent-translucent: hsla(from var(--color-accent) h s l / 0.1);
  --color-accent-container: color-mix(
    in lab,
    var(--color-accent) 7%,
    var(--color-background-variant)
  );
  --color-on-accent: #000000;
  --color-divider: hsla(0, 0, 50%, 0.4);
  --color-surface: #333333;
  --background-blur: 15px;
  --medium-rounding: 15px;
  --footer-height: 50px;
  --nav-height: 77.2px;
  --inline-padding: 30px;
  --button-padding: 10px 20px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  height: 100dvh;
}
body {
  margin: 0;
  background-color: var(--color-background);
  width: 100%;
  top: 0;
}
main {
  height: 100dvh;
}

ul {
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  z-index: 10;
  top: 0;
  pointer-events: none;
  ul {
    --margin: 10px;
    background-color: var(--color-background-translucent);
    width: fit-content;
    border-radius: 1000px;
    overflow-x: auto;
    -webkit-backdrop-filter: blur(var(--background-blur));
    backdrop-filter: blur(var(--background-blur));
    margin: 10px;
    max-width: calc(100% - var(--margin) * 2);
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding: 5px;
    pointer-events: all;
    li {
      list-style: none;
      padding: 0.5rem 1rem;
      border-radius: 1000px;
      position: relative;
      &[active]::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        border-radius: 1000px;
        background-color: var(--color-accent-translucent);
        view-transition-name: navigation-selector;
      }
      a {
        text-decoration: none;
        color: var(--color-text);
        font-size: 1.5rem;
        transition: all 0.5s ease-out;
      }
      &[active] a {
        color: var(--color-accent);
      }
    }
  }
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: all 0.1s ease-out;
  &:hover {
    color: hsla(from var(--color-accent) h s 85% / 1);
  }
  .fa {
    color: var(--color-accent);
    transition: all 0.1s ease-out;
    &:hover {
      color: hsla(from var(--color-accent) h s 85% / 1);
    }
  }
}
p {
  font-size: 1.3em;
  @media (min-width: 600px) {
    font-size: 1.25em;
  }
  @media (min-width: 1025px) {
    font-size: 1.2em;
  }
}
main {
  padding-top: var(--nav-height);
  min-height: calc(100dvh - var(--footer-height));
  height: auto;
}
footer {
  height: var(--footer-height);
  background-color: var(--color-background-variant);
  display: flex;
  align-items: center;
  padding-inline: var(--inline-padding);
  width: 100%;
}
::view-transition-group(navigation-selector) {
  z-index: 1;
}
::view-transition-old(navigation-selector) {
  height: 100%;
}
::view-transition-new(navigation-selector) {
  height: 100%;
}
::view-transition-old(:root) {
  animation: none;
}
::view-transition-new(:root) {
  animation: none;
}
::view-transition-group(:root) {
  animation: none;
}
