@import "/shared.css";
@import "/project/project.css";

@layer post-create;

@layer post-create {
	*[contenteditable="true"] {
		border: 2px solid var(--color-accent);
		border-radius: 10px;
		padding: 0.5rem 1rem;
		&:focus {
			outline: none;
			border-color: var(--color-accent-highlighted-bright);
		}
	}

	section {
		border: 1px solid var(--color-accent-translucent);
		border-radius: 10px;
		padding: 0.5rem 1rem;
		&:has([contenteditable])&::before {
			content: "Section (Will not be broken)";
			padding-bottom: 1rem;
			display: block;
		}
	}

	#project-name {
		height: fit-content;
		& a {
			display: inline-block;
			height: 2ch;
			& i {
				display: inline-block;
				font-size: 1.2em;
			}
		}
		& a::before {
			display: inline-block;
			width: 1ch;
		}
	}

	p[popover] {
		position-area: end span-all;
		background-color: var(--color-surface);
		min-width: 10ch;
		text-align: center;
		text-transform: none;
	}

	#tags-container {
		.tag[selected] {
			background-color: var(--color-accent);
			color: var(--color-on-accent);
		}
	}

	#toolbar {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		padding: 0;
		margin-bottom: 1rem;
		height: fit-content;
		position: sticky;
		top: var(--nav-height);
		z-index: 3;
		background: var(--color-background-variant);
		padding: 1rem;
		border-radius: calc(var(--medium-rounding) + 1rem);
		& li {
			list-style: none;
		}
		i {
			font-size: 24px !important;
		}
	}

	#editor-container {
		grid-column: span 2;
		.header-with-github-link {
			h2 {
				display: inline;
			}
			a:not([href]) {
				opacity: 0.5;
			}
			a::before {
				content: " ";
			}
			i {
				font-size: xx-large !important;
				margin-block-end: 0.83em;
			}
		}
	}

	#floating-modal {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		@media screen and (max-width: 800px) {
			position: static;
			width: 100%;
			background: transparent;
		}
		div {
			width: stretch;
			display: inline-flex;
			align-items: center;
			input {
				flex-grow: 1;
			}
			input[type="checkbox"] {
				flex-grow: 0;
			}
		}
	}
}
